.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

#skip a, #skip a:hover, #skip a:visited {
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
    color: #000;
    background: #FFF;
    padding: 5px;
    font-weight: 700;
}

#skip a:active, #skip a:focus {
    position:static;
    width:auto;
    height:auto;
} 

body {
    background: #000;
    color: #FFF;
    padding: 0;
    margin:0;
    font-family: 'Noto Sans', sans-serif;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
#header {

}

#navigation {
    padding: 20px 0;
    margin: 20px 0;
    border-top:1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

#navigation li {
  float: left;
  list-style: none;
  margin-left: 20px;
}
#navigation li:first-child {
    margin-left: 0;
}
#navigation ul {
    margin: 0;
    padding: 0;
}

#sidebar {
  width: 35%;
  float: left;
  margin-right: 5%;
}
#page {
  float: left;
  width: 60%;
}

#footer {
  clear: both;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

h1
{
    font-size: 3em;
    font-weight: bold;
}
h2
{
    font-size: 2.6em;
    font-weight: bold;
}
h3 {
    font-size: 2em;
    font-weight: bold;
}
h4 {
    font-size: 1.6em;
    font-weight: bold;
}

a {
    color: #FFF;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

[aria-checked="true"] { font-weight: bold; }

form {
  margin:15px 0;
}
form input {
  width: 100%;
  padding: 8px 0;
  border: 0;
  max-width: 100%;
  margin-bottom: 8px;
}
form button {
  width: 100%;
  color: #000;
  padding: 8px 0;
  background: #ccc;
}